.main-chat-body{
    height:83vh;
    width:65vw; 
    background-image: url('../assets//final_bg.jpg');

    z-index: -5px;
    overflow-y: scroll;
   
}
.messages-div{
    display: flex;
    flex-direction: row;
    width:100%;
}
.messages{
        align-self: flex-end;
        margin: 15px 30px 15px 30px;
        flex-direction: column;
        position: relative;
        max-width: 400px;
        padding: 10px;
        background-color: #dcf8c6;
        border-radius: 10px;
        height: fit-content;
}
.message{
    text-align: left;
        font-size: 15px;
        margin-bottom: 10px;
        word-wrap: break-word;
}